# Added by Micro WiPi
BR2_TARGET_GENERIC_ROOT_PASSWD="buildroot"
BR2_ROOTFS_OVERLAY="board/raspberrypi0w/rootfs_overlay/"
BR2_PACKAGE_RNG_TOOLS=y
BR2_PACKAGE_DHCPCD=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_DEBUG_SYSLOG=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_WPA_CLIENT_SO=y
